# No whitespace after the comma or in your part name!
config MINREPRO_LEFT
    def_bool $(shields_list_contains,minrepro_left)

# No whitespace after the comma or in your part name!
config MINREPRO_RIGHT
    def_bool $(shields_list_contains,minrepro_right)
