#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "keys_sv.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                                                &kp N6   &kp N7    &kp N8        &kp N9      &kp N0
                  &kp Q   &kp W   &kp E   &kp R   &kp T                                                                 &kp Y    &kp U     &kp I         &kp O       &kp P
                  &kp A   &kp S   &kp D   &kp F   &kp G   &kp LSHFT     &kp LSHFT              &mo 1          &kp LSHFT &kp H    &kp J     &kp K         &kp L       &kp SV_O_UMLAUT
                  &kp Z   &kp X   &kp C   &kp V   &kp B   &kp SV_SPACE  &kp ENTER              &kp BACKSPACE  &kp DEL   &kp N    &kp M     &kp SV_COMMA  &kp SV_DOT  &kp SV_MINUS  
            >;
        };
    };
};
